.introSection {
	width: 80%;
	margin: 2.5% auto;
}

.feedContainer {
	margin: 0 auto;
	width: 30%;
}

.donateContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
